# Java (Spring Boot)
target/
*.class
*.jar
*.war
*.iml

# Node (React)
frontend/node_modules/
frontend/build/
frontend/.env

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.log

# Misc
.env
backend/backend/src/main/resources/application.properties
